
tmp.py
*.pyc
.ipynb_checkpoints/39-checkpoint.ipynb
.ipynb_checkpoints/46-checkpoint.ipynb
.ipynb_checkpoints/46-checkpoint.ipynb
.ipynb_checkpoints/47-checkpoint.ipynb
.ipynb_checkpoints/39-checkpoint.ipynb
.ipynb_checkpoints/46-checkpoint.ipynb
*.pyc
*.pyc
*.pyc
.ipynb_checkpoints/47-working-checkpoint.ipynb
.ipynb_checkpoints/46-checkpoint.ipynb
